extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap

    .top-block.b-lazy.webp-img(data-webp="./img/top-bg.webp" data-img="./img/top-bg.png")
      .top-block__inner.site-container
        .top-block__top-line
          .top-block__phone
            a(href="tel:88003012803") 8 (800) 301-28-03
            span анонимно, бесплатно, круглосуточно
          .top-block__address г. Москва, ул. Олеко Дундича, 25
        .top-block__title Лечение алкоголизма, наркомании <br> и психических расстройств
        .top-block__caption в медицинской наркологической клинике в Москве
        .top-block__items
          a(href="#").top-block__link Срочный вывод из запоя на дому
          a(href="#").top-block__link Кодирование от наркомании
          a(href="#").top-block__link Кодирование от алкоголизма
          a(href="#").top-block__link Лечение депрессии и психозов
        a(href="#" data-modal-class="callback").top-block__btn.tablet.site-btn ОБРАТНЫЙ ЗВОНОК

      .top-block__form
        .top-block__form-bg.b-lazy.webp-img(data-webp="./img/top-romb-bg.webp" data-img="./img/top-romb-bg.png")
        .top-block__form-inner
          .top-block__form-title Оставить заявку <b>НА БЕСПЛАТНУЮ</b> консультацию нарколога
          form.top-block__form-i(acton="#")
            input(type="text" placeholder="Ваше имя" required)
            input(type="text" inputmode="numeric" placeholder="+7 (___) ___-__-__").phone
            button(style='display: none;')
            a(href="#" data-modal-class="callback").top-block__form-btn.site-btn--red отправить
          .top-block__form-capt Ваши данные не попадут к третьим лицам и останутся конфиденциальны.

      .site-widget
        .site-widget__inner
          .site-widget__top
            .site-widget__top-main
              .site-widget__img
                picture
                  source(srcset="./img/man.webp" type="image/webp")
                  source(srcset="./img/man.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .site-widget__name Владимир
                span Консультант
            .site-widget__desc Добрый день! Готов ответить на Ваши вопросы.
          .site-widget__bottom
            .site-widget__input
              input(type="text" placeholder="Введите Ваше сообщение...")

        a(href="").site-widget__btn


    .service.b-lazy.webp-img(data-webp="./img/service-bg.webp" data-img="./img/service-bg.png")
      .service__inner.site-container
        .service__title.site-title2 Услуги и цены
        .service__items.row
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(3).webp" type="image/webp")
                source(srcset="./img/Union(3).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Лечение алкоголизма в стационаре
              .service__price от 3 500 руб./сутки
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(4).webp" type="image/webp")
                source(srcset="./img/Union(4).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Вывод из запоя <br> на дому
              .service__price от 3 200 руб./выезд
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(5).webp" type="image/webp")
                source(srcset="./img/Union(5).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Реабилитация <br> алкоголиков
              .service__price от 40 000 руб./месяц
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(6).webp" type="image/webp")
                source(srcset="./img/Union(6).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Лечение женского <br> алкоголизма
              .service__price от 40 000 руб./месяц
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(7).webp" type="image/webp")
                source(srcset="./img/Union(7).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Лечение наркомании <br> в стационаре
              .service__price от 4 000 руб./сутки
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(8).webp" type="image/webp")
                source(srcset="./img/Union(8).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Кодирование <br> от алкоголизма
              .service__price от 3 000 руб.
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(9).webp" type="image/webp")
                source(srcset="./img/Union(9).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Вшивание <br> от наркомании
              .service__price от 10 000 руб.
          a(href="#").service__item.col
            .service__item-inner
              picture
                source(srcset="./img/Union(10).webp" type="image/webp")
                source(srcset="./img/Union(10).png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .service__name Детоксикация организма <br> в стационаре
              .service__price от 3 500 руб.

    .about.b-lazy.webp-img(data-webp="./img/about-bg.webp" data-img="./img/about-bg.png")
      .about__inner.site-container
        .about__title.site-title2 Частный наркологический центр «Практик» — экстренная наркологическая помощь в Москве
        .about__caption Основой для построения программ терапии в клинике «Практик» в Москве взято всемирно известную программу «12 шагов».
        .about__romb-right.b-lazy.webp-img(data-webp="./img/about-romb-2.webp" data-img="./img/about-romb-2.png" data-webp-mobile='./img/about-romb-mob.webp' data-img-mobile='./img/about-romb-mob.png')
        .about__romb-left.b-lazy.webp-img(data-webp="./img/about-romb.webp" data-img="./img/about-romb.png")
        .about__txt
          p Врачи обязательно тщательно обследуют каждого пациента и корректируют под его индивидуальные особенности все методы лечения. Также учитывается возраст пациента, наличие у него сложных хронических болезней, стадия зависимости срок злоупотребления запрещёнными веществами. В начале любого курса терапии пациент в обязательном порядке приходит полное обследование организма, сдаёт анализы, беседует с психологом учреждения. Основываясь на все результаты такого обследования, специалисты частной клиники наркологии «Практик» подбирают персональную программу лечения, которая поможет вылечить больного, не навредив его здоровью.
          span Платная наркологическая клиника осуществляет круглосуточную наркологическую помощь
          p Вы прямо сейчас можете связаться с нами по телефону горячей линии, получить бесплатную консультацию у нарколога или осуществить вызов нарколога на дом. В нашем учреждении успешно излечились от зависимости сотни пациентов. Поэтому, мы уверены в том, что неизлечимых случаев алкоголизма и наркомании не бывает. <b>Врачи в центре «Практик» с огромной ответственностью подходят к осуществлению любых процедур, поэтому, выбирая нашу клинику, вы выбираете качество, эффективность и безопасность.</b> Ознакомиться с полным перечнем услуг центра современной наркологии «Практик» в Москве вы можете на официальном сайте учреждения, где все услуги описаны до мельчайших подробностей.


    .advantage
      .advantage__inner.site-container
        .advantage__title.site-title2 Преимущества центра
        .advantage__items.row
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 161.webp" data-img="./img/advantage/Group 161.png")
            include ../img/advantage/Group.svg
            .advantage__name  Широкий выбор способов и методов лечения
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 162.webp" data-img="./img/advantage/Group 162.png")
            include ../img/advantage/Hover.svg
            .advantage__name  Гибкая ценовая политика
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 163.webp" data-img="./img/advantage/Group 163.png")
            include ../img/advantage/Hover (1).svg
            .advantage__name  Удобное месторасположение
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 164.webp" data-img="./img/advantage/Group 164.png")
            include ../img/advantage/Hover (2).svg
            .advantage__name  Круглосуточное дежурство врачей
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 165.webp" data-img="./img/advantage/Group 165.png")
            include ../img/advantage/Hover (3).svg
            .advantage__name  Медицинская лицензия
          .advantage__item.active.col.b-lazy.webp-img(data-webp="./img/advantage/Group 166.webp" data-img="./img/advantage/Group 166.png")
            include ../img/advantage/Hover (4).svg
            .advantage__name  Опытный и квалифицированный персонал

    .help-block.b-lazy.webp-img(data-webp="./img/help-block-bg.webp"
      data-webp-mobile="./img/help-block-bg-mobile.webp"
      data-img="./img/help-block-bg.png"
      data-img-mobile="./img/help-block-bg-mobile.jpg")
      .help-block__inner.site-container
        .help-block__content
          .help-block__title Оставить заявку
          .help-block__caption И ПОЛУЧИТЕ первичную консультацию <strong>бесплатно</strong> <br> <br> <br>
          .help-block__form
            form.top-block__form-i.help-block__form-i
              input(type="text" placeholder="Ваше имя" required)
              input(type="text" inputmode="numeric" placeholder="+7 (___) ___-__-__").phone
              .form__btn-wrap.site-btn--img-wrap
                button(style='display: none;')
                a(href="#").site-btn--red.site-btn--img отправить
                  picture
                    source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                    source(srcset="./img/icon/blokno-ico.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")
              .help-block__form-caption *Ваши данные останутся конфиденциальны.

    .medicals.b-lazy.webp-img(data-webp="./img/medicals/medicals-bg.webp" data-img="./img/medicals/medicals-bg.png")
      .medicals__inner.site-container
        .medicals__title.site-title2 Врачи нашей клиники
        .medicals__items.row
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group.png" alt='img').b-lazy
            .medicals__name Степнов <br> Виталий Отчество
            .medicals__caption Главный врач
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group (1).png" alt='img').b-lazy
            .medicals__name Миронова  <br> Галина Отчество
            .medicals__caption Психиатр нарколог
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group (2).png" alt='img').b-lazy
            .medicals__name Баринов  <br> Виктор Отчество
            .medicals__caption Главный врач
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group (3).png" alt='img').b-lazy
            .medicals__name Крестова  <br> Ольга Отчество
            .medicals__caption Психиатр нарколог
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group (4).png").b-lazy
            .medicals__name Давыдов  <br> Денис Отчество
            .medicals__caption Психиатр нарколог
          .medicals__item.col
            .medicals__img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/medicals/Mask Group (5).png").b-lazy
            .medicals__name Пронин <br> Илья Отчество
            .medicals__caption Главный врач


    .text-block.b-lazy.webp-img(data-webp="./img/text-bg-1.webp" data-img="./img/text-bg-1.png")
      .text-block__inner.site-container
        .text-block__content
          .text-block__title.site-title2 Наркологическая клиника в Москве и Московской области «Практик»
          .text-block__caption Наркологический центр «Практик» в Москве обеспечивает населению всего Московского региона самую оперативную и качественную наркологическую помощь.
          .text-block__desc-line
            p Наше учреждение имеет высокий рейтинг среди всех медицинских центров в области, наши специалисты обладают колоссальными знаниями и навыками в <a href="#">лечении алкоголизма</a> и наркомании на любой стадии. Наркологическая клиника осуществляет приём и обслуживание пациентов в любое время суток без выходных. Чтобы обеспечить свои пациентам максимально комфортные условия во время <a href="#">лечения наркомании</a> или алкогольной зависимости, мы обустроили современный стационар, в котором есть самое новое и продвинутое оборудование, удобная мебель и любые приспособления для комфорта пациентов.
            p <span>Условия центра наркологии «Практик» нельзя сравнить ни с одним медицинским центром в нашем регионе. А индивидуальный подход персонала позволяет нашим пациентам пребывать в хорошем расположении духа и не чувствовать никакого дискомфорта в период терапии.</span>
          .text-block__desc Вылечить самую тяжёлую форму зависимости, или получить профессиональную помощь наркологов в период ломки или интоксикации – можно в клинике «Практик» в Москве. Мы предлагаем широкий спектр услуг по самым приемлемым и оправданным ценам.

    .motivated.b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")
      .motivated__inner.site-container
        .motivated__content
          .motivated__title.site-title2 Мотивация зависимых
          .motivated__txt
            p
              strong Не знаете как уговорить близкого начать лечение? Мы поможем! Специалисты центра по мотивации гарантированно убедят зависимого начать лечение.

          .motivated__row
            .motivated__phone
              a(href="tel:88003012803") тел. 8 (800) 301-28-03
            .motivated__btn.site-btn--img-wrap
              a(href="#" data-modal-class="callback").motivated__btn-i.site-btn.site-btn--red.site-btn--img заказать звонок
                picture
                  source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                  source(srcset="./img/icon/blokno-ico.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")


          .motivated__caption.
            Позвоните по телефону горячей линии и получите бесплатную консультацию нарколога. Мы работаем круглосуточно 24/7

    .text-block2.b-lazy.webp-img(data-webp="./img/text-2-bg.webp" data-img="./img/text-2-bg.png" data-webp-mobile='./img/text-2-bg-mob.webp' data-img-mobile='./img/text-2-bg-mob.png')
      .text-block2__inner.site-container
        .text-block2__content
          .text-block2__title Услуги центра наркологии в Москве
          .text-block2__txt
            ul
              li — Эффективное лечение алкогольной зависимости на любой стадии по современным методикам;
              li — Лечение от наркотиков, с использованием сертифицированных препаратов и методов терапии;
              li — Вывод из запоя любой продолжительности, на дому или же в стационарных условиях клиники;
              li — Современные методы кодирования от алкоголизма;
              li — Скорая наркологическая помощь в Москве и Московском регионе.
            hr
            span Анонимная наркологическая помощь в Москве на дому и стационаре
            p Для клиентов нашего центра мы предоставляем гарантию полной конфиденциальности. Вы можете не переживать о том, что ваши данные будут подданы огласке, после обращения к нам вас не поставят на учёт в диспансер.
            p — &nbsp; Для приёма и лечения клиентов у нас оборудован большой и уютный стационар палаты обустроены современной мебелью, в наличии самое новое медицинское оборудование.
            br
            p — &nbsp; Персонал частной клиники с пониманием и уважением относится к своим пациентам, никоим образом не ущемляя интересы;
            br
            p — &nbsp; Программы лечения интегрированные, составляются для каждого больного персонально;
            br
            p — &nbsp; Применяемые нашими врачами методики зарекомендовали себя как самые эффективные и надёжные в современной наркологии;
            br
            p — &nbsp; Все препараты, используемые в программах лечения, имеют сертификаты в РФ и являются безопасными для здоровья человека;
            br
            p — &nbsp; С пациентами в период их лечения регулярно общается психолог, выявляя основные причины развития заболевания, и помогая пациентам изменить своё отношение к жизни.
            br
            p — &nbsp; После лечения в клинике «Практик» врачи рекомендуют пройти курс реабилитации для наркозависимых и алкоголиков, который обеспечивает надёжный и проверенный годами результат.
            br
            p  Основной целью в работе частного центра наркологии «Практик» в Москве является помощь людям, которые сошли с правильного пути в своей жизни. <b>Наркологическая клиника найдёт поход к любому зависимому пациенту, обеспечим для него самые благоприятные условия и составим саму эффективную программу лечения, чтобы изменить его будущее в лучшую сторону. Анонимный наркологический центр «Практик» в Москве и Подмосковье обеспечит для вас помощь в решении самых сложных и безвыходных ситуаций при наличии проблем с алкоголем и наркотиками. Звоните уже сейчас, пусть ваше «завтра» измениться к лучшему!</b>

    .reviews.b-lazy.webp-img(data-webp="./img/rev-bg.webp" data-img="./img/rev-bg.png" data-webp-mobile='./img/rev-bg-mob.webp' data-img-mobile='./img/rev-bg-mob.png')
      .reviews__inner.site-container
        .reviews__content
          .reviews__title.site-title2 Отзывы
          .reviews__txt Качество вашего отчета и ваши результаты позволили легко определить потенциальные проблемы. Экстрагируемая органика была хорошо документирована, лучшее, что я видел в коммерческой лаборатории.
          .reviews__bottom
            .reviews__name Александра Александрова
            .reviews__about 26 лет, пациент

    .text-block.b-lazy.webp-img(data-webp="./img/text-bg-2.webp" data-img="./img/text-bg-2.png")
      .text-block__inner.site-container
        .text-block__content
          .text-block__title.site-title2 Наркологическая клиника в Москве и Московской области «Практик»
          .text-block__caption Наркологический центр «Практик» в Москве обеспечивает населению всего Московского региона самую оперативную и качественную наркологическую помощь.
          .text-block__desc-line
            p Наше учреждение имеет высокий рейтинг среди всех медицинских центров в области, наши специалисты обладают колоссальными знаниями и навыками в <a href="#">лечении алкоголизма</a> и наркомании на любой стадии. Наркологическая клиника осуществляет приём и обслуживание пациентов в любое время суток без выходных. Чтобы обеспечить свои пациентам максимально комфортные условия во время <a href="#">лечения наркомании</a> или алкогольной зависимости, мы обустроили современный стационар, в котором есть самое новое и продвинутое оборудование, удобная мебель и любые приспособления для комфорта пациентов.
            p <span>Условия центра наркологии «Практик» нельзя сравнить ни с одним медицинским центром в нашем регионе. А индивидуальный подход персонала позволяет нашим пациентам пребывать в хорошем расположении духа и не чувствовать никакого дискомфорта в период терапии.</span>
          .text-block__desc Вылечить самую тяжёлую форму зависимости, или получить профессиональную помощь наркологов в период ломки или интоксикации – можно в клинике «Практик» в Москве. Мы предлагаем широкий спектр услуг по самым приемлемым и оправданным ценам.

    .motivated.b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
    data-webp-mobile="./img/motivated-bg-mobile.webp"
    data-img="./img/motivated-bg.png"
    data-img-mobile="./img/motivated-bg-mobile.png")
      .motivated__inner.site-container
        .motivated__content
          .motivated__title.site-title2 Мотивация зависимых
          .motivated__txt
            p
              strong Не знаете как уговорить близкого начать лечение? Мы поможем! Специалисты центра по мотивации гарантированно убедят зависимого начать лечение.

          .motivated__row
            .motivated__phone
              a(href="tel:88003012803") тел. 8 (800) 301-28-03
            .motivated__btn.site-btn--img-wrap
              a(href="#" data-modal-class="callback").motivated__btn-i.site-btn.site-btn--red.site-btn--img заказать звонок
                picture
                  source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                  source(srcset="./img/icon/blokno-ico.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")


          .motivated__caption.
            Позвоните по телефону горячей линии и получите бесплатную консультацию нарколога. Мы работаем круглосуточно 24/7
