extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "";
  - var pageActive = "servicepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap


    //.one-procedure.b-lazy.webp-img(data-webp="./img/one-procedure.webp"
      data-webp-mobile="./img/one-procedure-mobile.webp"
      data-img="./img/one-procedure.jpg"
      data-img-mobile="./img/one-procedure-mobile.jpg")

    .top-block.b-lazy.webp-img(data-webp="./img/service-top-bg.webp" data-img="./img/service-top-bg.png")
      .top-block__inner.top-block__inner--service-page.site-container
        .top-block__top-line
          .top-block__phone
            a(href="tel:88003012803") 8 (800) 301-28-03
            span анонимно, бесплатно, круглосуточно
          .top-block__address г. Москва, ул. Олеко Дундича, 25
        .top-block__title.top-block__title--service Вывод из запоя в Москве на дому и стационаре клиники «Практик»
        .top-block__caption.top-block__caption--service Будем в течении 39 минут
          a(href="#").top-block__btn.site-btn.site-btn--red вызвать нарколога от 2 500 ₽
        .top-block__items
          a(href="#").top-block__link Доступные цены
          a(href="#").top-block__link 100% анонимность
          a(href="#").top-block__link Круглосуточно
        .breadcrumb
          a(href="#").breadcrumb__item Главная
          i &nbsp; / &nbsp;
          span.breadcrumb__item Вывод из запоя
        a(href="#").top-block__btn.site-btn.site-btn--red.tablet вызвать нарколога от 2 500 ₽


      .top-block__form-bg.top-block__form-bg--service.b-lazy.webp-img(data-webp="./img/service-top-right.webp" data-img="./img/service-top-right.png")
      .top-block__form-bg.top-block__form-bg--service-left.b-lazy.webp-img(data-webp="./img/service-top-left.webp" data-img="./img/service-top-left.png")


    .one-procedure
      .one-procedure__inner
        .one-procedure__txt В <strong>82%</strong> случаев достаточно одной процедуры
        .one-procedure__list
          .one-procedure__item
            .one-procedure__item-content.b-lazy.webp-img(data-webp="./img/one-procedure01.webp"
            data-webp-mobile="./img/one-procedure01.webp"
            data-img="./img/one-procedure01.png"
            data-img-mobile="./img/one-procedure01.png")
              .one-procedure__ico.one-procedure__ico--1
              .one-procedure__item-txt Позвоните нам <br> по бесплатному <br> телефону
          .one-procedure__item
            .one-procedure__item-content.b-lazy.webp-img(data-webp="./img/one-procedure02.webp"
            data-webp-mobile="./img/one-procedure02.webp"
            data-img="./img/one-procedure02.png"
            data-img-mobile="./img/one-procedure02.png")
              .one-procedure__ico.one-procedure__ico--2
              .one-procedure__item-txt Врач выезжает <br> немедленно
          .one-procedure__item
            .one-procedure__item-content.b-lazy.webp-img(data-webp="./img/one-procedure03.webp"
            data-webp-mobile="./img/one-procedure03.webp"
            data-img="./img/one-procedure03.png"
            data-img-mobile="./img/one-procedure03.png")
              .one-procedure__ico.one-procedure__ico--3
              .one-procedure__item-txt Капельница <br> снимает боль <br> и симптомы
          .one-procedure__item
            .one-procedure__item-content.b-lazy.webp-img(data-webp="./img/one-procedure04.webp"
            data-webp-mobile="./img/one-procedure04.webp"
            data-img="./img/one-procedure04.png"
            data-img-mobile="./img/one-procedure04.png")
              .one-procedure__ico.one-procedure__ico--4
              .one-procedure__item-txt Сон <br> восстановит <br> организм
          .one-procedure__item
            .one-procedure__item-content.b-lazy.webp-img(data-webp="./img/one-procedure05.webp"
            data-webp-mobile="./img/one-procedure05.webp"
            data-img="./img/one-procedure05.png"
            data-img-mobile="./img/one-procedure05.png")
              .one-procedure__ico.one-procedure__ico--5
              .one-procedure__item-txt Вернётся <br> способность <br> работать и водить

    .programs.b-lazy.webp-img(data-webp="./img/programs-bg.webp"
      data-webp-mobile="./img/programs-bg-mobile.webp"
      data-img="./img/programs-bg.jpg"
      data-img-mobile="./img/programs-bg-mobile.jpg")

      .programs__inner.site-container
        .programs__title.site-title2 НАШИ ПРОГРАММЫ ДЕТОКСИКАЦИИ
        .programs__content.programs__slider
          .programs__item
            .programs__item-content
              .programs__head
                .programs__head-price
                  span 2500
                    include ../img/icon/rub.svg
                  | стандартная
              .programs__body
                .programs__txt <strong>400мл.</strong> Объём капельницы
                .programs__list.programs__list--check
                  ul
                    li Выезд доктора
                    li Осмотр пациента
                    li Детоксикационная терапия
                    li Успокоительные, седативные, противорвотные + витамины
                    li Пациенту оставляются препараты на 2-3 дня (таблетки)
                .programs__list.programs__list--cross
                  ul
                    li В капельницу включено большее количество препаратов
                    li Снятие и описание ЭКГ
                    li Комплекс препаратов, которые снижают токсический вред алкоголя
                    li Гепатропротекторы
                    li Препараты улучшающие мозговую деятельность
              .programs__bottom
                a(href="#").programs__btn ЗАКАЗ ПО WHATSAPP
          .programs__item
            .programs__item-content
              .programs__head
                .programs__head-price
                  span 3500
                    include ../img/icon/rub.svg
                  | усиленная
              .programs__body
                .programs__txt <strong>400-600мл.</strong> Объём капельницы
                .programs__list.programs__list--check
                  ul
                    li Выезд доктора
                    li Осмотр пациента
                    li Детоксикационная терапия
                    li Успокоительные, седативные, противорвотные + витамины
                    li Пациенту оставляются препараты на 2-3 дня (таблетки)
                    li В капельницу включено большее количество препаратов
                .programs__list.programs__list--cross
                  ul
                    li Снятие и описание ЭКГ
                    li Комплекс препаратов, которые снижают токсический вред алкоголя
                    li Гепатропротекторы
                    li Препараты улучшающие мозговую деятельность
              .programs__bottom
                a(href="#").programs__btn ЗАКАЗ ПО WHATSAPP
          .programs__item
            .programs__item-content
              .programs__head
                .programs__head-price
                  span 4500
                    include ../img/icon/rub.svg
                  | двойная
              .programs__body
                .programs__txt <strong>800-900мл.</strong> Объём капельницы
                .programs__list.programs__list--check
                  ul
                    li Выезд доктора
                    li  Осмотр пациента
                    li  Детоксикационная терапия
                    li  Успокоительные, седативные, противорвотные + витамины
                    li  Пациенту оставляются препараты на 2-3 дня (таблетки)
                    li  В капельницу включено большее количество препаратов
                    li  Снятие и описание ЭКГ
                    li  Комплекс препаратов, которые снижают токсический вред алкоголя
                    li  Гепатропротекторы
                .programs__list.programs__list--cross
                  ul
                    li Препараты улучшающие мозговую деятельность
              .programs__bottom
                a(href="#").programs__btn ЗАКАЗ ПО WHATSAPP
          .programs__item
            .programs__item-content
              .programs__head
                .programs__head-price
                  span 6500
                    include ../img/icon/rub.svg
                  | Интенсивная
              .programs__body
                .programs__txt <strong>900-1200мл.</strong> Объём капельницы
                .programs__list.programs__list--check
                  ul
                    li Выезд доктора
                    li  Осмотр пациента
                    li  Детоксикационная терапия
                    li  Успокоительные, седативные, противорвотные + витамины
                    li  Пациенту оставляются препараты на 2-3 дня (таблетки)
                    li  В капельницу включено большее количество препаратов
                    li  Снятие и описание ЭКГ
                    li  Комплекс препаратов, которые снижают токсический вред алкоголя
                    li  Гепатропротекторы
                    li  Препараты улучшающие мозговую деятельность
              .programs__bottom
                a(href="#").programs__btn ЗАКАЗ ПО WHATSAPP


    .help-block.b-lazy.webp-img(data-webp="./img/help-block-bg.webp"
      data-webp-mobile="./img/help-block-bg-mobile.webp"
      data-img="./img/help-block-bg.png"
      data-img-mobile="./img/help-block-bg-mobile.jpg")
      .help-block__inner.site-container
        .help-block__content
          .help-block__title Нужна помощь в выходе из запоя?
          .help-block__caption ОБРАЩАЙТЕСЬ К НАМ
          .help-block__desc Специалист проведет процедуру анонимно
          .help-block__form
            form.top-block__form-i.help-block__form-i
              input(type="text" placeholder="Ваше имя")
              input(type="text" placeholder="+7 (___) ___-__-__")
              .form__btn-wrap.site-btn--img-wrap
                a(href="#").site-btn--red.site-btn--img отправить
                  picture
                    source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                    source(srcset="./img/icon/blokno-ico.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")
              .help-block__form-caption *Ваши данные останутся конфиденциальны.

    .equipment
      .equipment__inner.site-container
        .equipment__title.site-title2 При выезде на дом к пациенту <br> наши врачи оснащены
        .equipment__content
          .equipment__main-photo
            picture
              source(srcset="./img/equipment-main.webp" type="image/webp")
              source(srcset="./img/equipment-main.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="680" )
          .equipment__photo-list
            .equipment__photo-item.equipment__photo-item--1
              picture
                source(srcset="./img/equipment-item01.webp" type="image/webp")
                source(srcset="./img/equipment-item01.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Глюкометр
            .equipment__photo-item.equipment__photo-item--2
              picture
                source(srcset="./img/equipment-item02.webp" type="image/webp")
                source(srcset="./img/equipment-item02.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Забор крови
            .equipment__photo-item.equipment__photo-item--3
              picture
                source(srcset="./img/equipment-item03.webp" type="image/webp")
                source(srcset="./img/equipment-item03.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Анализы
            .equipment__photo-item.equipment__photo-item--4
              picture
                source(srcset="./img/equipment-item04.webp" type="image/webp")
                source(srcset="./img/equipment-item04.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Лекарства
            .equipment__photo-item.equipment__photo-item--5
              picture
                source(srcset="./img/equipment-item05.webp" type="image/webp")
                source(srcset="./img/equipment-item05.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Кардиомонитор
            .equipment__photo-item.equipment__photo-item--6
              picture
                source(srcset="./img/equipment-item06.webp" type="image/webp")
                source(srcset="./img/equipment-item06.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="170" )
              span Аппарат ЭКГ

        .equipment__subtitle Быстро и эффективно поможем преодолеть запой
        .equipment__caption ОБРАЩАЙТЕСЬ К НАМ
        .equipment__txt Мы используем только проверенные препараты


    .motivated.b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")
      .motivated__inner.site-container
        .motivated__content
          .motivated__title.site-title2 Мотивация зависимых
          .motivated__txt
            p
              strong Не знаете как уговорить близкого начать лечение? Мы поможем! Специалисты центра по мотивации гарантированно убедят зависимого начать лечение.

          .motivated__row
            .motivated__phone
              a(href="tel:88003012803") тел. 8 (800) 301-28-03
            .motivated__btn.site-btn--img-wrap
              a(href="#").motivated__btn-i.site-btn.site-btn--red.site-btn--img Отправить
                picture
                  source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                  source(srcset="./img/icon/blokno-ico.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")


          .motivated__caption.
            Позвоните по телефону горячей линии и получите бесплатную консультацию нарколога. Мы работаем круглосуточно 24/7



